#box-button-continue{
    width: 100%;
    height: 15%;
}

#button-continue{
    border: 0;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.63);
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    cursor: pointer;
    color: #E0E0E0;
}

#button-continue:hover{
    color: black;
    font-weight: bold;
}