#home-page{
    display: none;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
}

#content-main-home-page{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

#container-left-home{
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

#box-logo-compass{
    width: 100%;
    height: 10%;
}

#box-logo-compass img{
    margin: 1em;
}

#big-box-icon-compass{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#big-box-icon-compass img{
    position: absolute;
    top: 12%;


}

#container-right-home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}