#login-page{
    display:flex;
    color: #E0E0E0;
}

#container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
}

#content-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 45%;
}

#box-greeting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 30%;
}

#content-greeting{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content-greeting h1{
    margin: 0 0 10%;
    font-size: 60px;
    display: flex;
}

#content-greeting p{
    font-size: 16px;
}


#container-right{
    width: 50%;
    height: 100vh;
    background-image: url("../assets/login.png");
    background-size: cover;
    flex-grow: 1;
}

#white-logo{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#white-logo img{
    margin: 2%;
}
