#login-page{
    display:flex;
}

#container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 50%;
    height: 100vh;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
}


#greeting{
    
    width: 50%;
    flex-direction: column;
    display: flex;
}

#greeting h1{
    margin: 0 0 0.3em;
    width: 5em;
    font-size: 3.5em;
    display: flex; 
}

#greeting p{
    font-size: 1em;
}


#container-right{
    width: 50%;
    height: 100vh;
    background-image: url("../assets/login.png");
    background-size: cover;
    flex-grow: 1;
}

#white-logo{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#white-logo img{
    width: 35%;
}
