#container-login h2{
    font-size: 2em;
}

#container-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 50%;
    width: 100%;
}

.box-input-login-page{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 13%;
}

.box-input-login-page img{
    margin: 0 -2em; 
}

.input-login-page::placeholder{
    color: #FFFFFF;
}

.input-login-page{
    background: #26292C;
    background-color: transparent;
    font-size: 1em;
    padding: 0 1em;  
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
}

.input-login-page:focus{
    outline-width: 0;
}

.input-password{
    letter-spacing: 5px;
    font-size: 2.5em;
    padding-left: 20px;
}

#message-error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#message-error p{
    display: none;
    text-align: center;
    color: #E9B425;
    width: 65%;

}