#container-login h2{
    font-size: 32px;
}

#container-login{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.box-input-login-page{
    display: flex;
    border: 1px solid #FFFFFF;
    justify-content: flex-end;
    border-radius: 50px;
    align-items: center;
    width: 100%;
    height: 13%;

}

.box-input-login-page img{
   margin: 15px;
}

.input-login-page::placeholder{
    color: #FFFFFF;
}

.input-login-page{
    background: #26292C;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 16px;
    padding: 0 3%;  
    height: 100%;
    width: 100%;
    border: 0;
}

.input-login-page:focus{
    outline-width: 0;
}

.input-password{
    padding-left: 20px;
    letter-spacing: 5px;
    font-size: 35px;
}

#message-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

#message-error p{
    display: none;
    text-align: center;
    color: #E9B425;
    width: 65%;
}